.MarginTop{
    margin-top: 10px
}

.btnGroup{
    text-align: center
}

.ant-carousel .slick-slide {
    text-align: center;
    /* height: 160px; */
    line-height: 160px;
    background: #fff;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }